*{
    margin: 0;
}
body{
    font-family: 'Satoshi', sans-serif;
}
@media (min-width: 700px){
    body{
        background: red;
    }
} 

.pg1{
    background: black;
    border: 2px solid #FF6600;
    height: 100vh;
    text-align: center;
    justify-content: center;
    img{
        margin-top: 60%;
        margin-bottom: 23px;
    }
    h3{
        font-size: 38px;
        color: white;
        span{
            color: #FF6600;
        }
    }
}