* {
  margin: 0;
}

body {
  font-family: "Satoshi", sans-serif;
  color: white;
}

@media (min-width: 700px) {
  body {
    background: red;
  }
  .pg1, .pg2, .pg3 {
    display: none;
  }
}
.pg1 {
  background: #292626;
  /* border: 2px solid #FF6600;*/
  height: cover;
  font-size: 38px;
  text-align: center;
  justify-content: center;
}
.pg1 img {
  margin-top: 60%;
  margin-bottom: 20px;
}
.pg1 h3 {
  color: white;
}
.pg1 h3 span {
  color: #FF6600;
}

.pg2 {
  background: #292626;
  /* border: 2px solid #FF6600;*/
  height: cover;
}
.pg2 img {
  margin: 40px 0 0 15px;
  width: 60px;
  height: 60px;
}
.pg2 .logo {
  color: white;
  font-size: 20px;
  display: inline-block;
}
.pg2 .logo span {
  color: #FF6600;
}
.pg2 .text {
  color: white;
  font-size: 38px;
  font-weight: 700;
  margin: 85px 0 0 20px;
}
.pg2 a {
  text-decoration: none;
}
.pg2 a button {
  border: none;
  background: #FF6600;
  margin: 120px 20px 0 20px;
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  color: #ECECEC;
}
.pg2 .btn2 {
  background: white;
  color: black;
  margin-top: 16px;
}
.pg2 .grp {
  text-align: center;
  margin: 15px 0;
}
.pg2 .line {
  border-top: 2px solid white;
  width: 120px;
  display: inline-block;
  vertical-align: middle;
}
.pg2 span {
  color: white;
  text-align: center;
}
.pg2 button {
  background: transparent;
  border: 1px solid white;
  margin: 0 auto 12px auto;
  display: block;
  font-weight: 500;
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  color: #ECECEC;
}

.pg3 {
  background: #292626;
  /* border: 2px solid #FF6600;*/
  height: cover;
}
.pg3 img {
  margin: 40px 0 0 15px;
  width: 60px;
  height: 60px;
}
.pg3 .smallTxt {
  font-size: 14px;
  margin: 65px 0 2px 0;
  text-align: center;
  color: white;
}
.pg3 .bigTxt {
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 70px;
}
.pg3 .bigTxt span {
  color: #FF6600;
}
.pg3 form {
  margin: 0 20px 0 20px;
  text-align: center;
}
.pg3 form label {
  display: block;
  text-align: left;
}
.pg3 form input {
  background: rgba(196, 196, 196, 0.1);
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  color: #ECECEC;
  border: none;
  margin: 6px 0 15px;
  border-radius: 5px;
  text-align: left;
  font-weight: 500;
  width: 92%;
}
.pg3 form input:focus {
  border: none;
  outline-color: #ECECEC;
  outline-width: 0.2px;
}
.pg3 form p {
  color: white;
  text-align: right;
  margin-right: 10px;
  font-size: 17px;
}
.pg3 form p span {
  color: #FF6600;
}
.pg3 form p a {
  text-decoration: none;
  color: #FF6600;
}
.pg3 form a {
  text-decoration: none;
}
.pg3 form a button {
  border-radius: 4px;
  width: 90%;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  color: #ECECEC;
  background: transparent;
  color: white;
  border: 1px solid #FF6600;
  width: 95%;
  margin: 100px 0 40px 0;
}/*# sourceMappingURL=style.css.map */